@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);
/* Offline debug */
/*@import url(./bootstrap.min.css);*/

p {
    color:red,
    font-family:Verdana, sans-serif
}

html,
body {
  font-family: "Garamond";
  font-size: 100%;
  height: 100%;
  line-height: 0.5;
}

/* Box for displaying photo blocks and photo tiles: TEST ONLY */
/* .photo-box {
    background-image: url(DSC_0142.JPG);
    background-color: rgba(255, 255, 255, .2);
    background-blend-mode: color-dodge;
    background-size: 300%;
    background-position: 55% 57%;
    background-attachment: fixed;
    padding-bottom: 1000px;
} */

/* Mini photo blocks */
.photo-block {
    background-size: 150%;
    background-attachment: scroll;
    border-radius: 0%;
    /*max-width: 8%;*/
    padding-bottom: 10%;
    display: inline-block;
    inline-size: 10%;
    transition: all .3s ease-in-out;
    margin-right: -3px;
    margin-left: -3px;
    /* margin-bottom: -6px; */
}
.photo-block:hover {
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: soft-light;
    transition: all .3s ease-in-out;
}

.vertical-block {
    margin-left: 45%;
}

/* Large tile for two in a row */
.photo-tile {
    background-size: 250%;
    background-attachment: scroll;
    background-position: center;
    border-radius: 0%;
    display: inline-block;
    transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0.5%;
    /* margin-left: -2px; */
    /* margin-bottom: -6px; */
    inline-size: 20%;
    padding-bottom: 20%;
}

/* Expanding photo banner for two in a row */
.photo-banner-two:hover {
    background-size: 150%;
    background-position: center;
    inline-size: 78%;
    /*transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);*/
}

/* Expanding photo banner for three in a row */
.photo-banner-three:hover {
    background-size: 150%;
    background-position: center;
    padding-bottom: 20%;
    inline-size: 57%;
    /*transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);*/
}

/* Right-shifted group for containing banners */
.banner-group-right-shifted {
    margin-left: 20%;
    padding-left: 0px;
    display: inline;
    transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
}
.banner-group-right-shifted:hover {
    margin-left: 0%;
    transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Right-shifted group for containing banners */
.banner-group-left-shifted {
    margin-left: -20%;
    padding-left: 0px;
    display: inline;
    transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
}
.banner-group-left-shifted:hover {
    margin-left: 0%;
    transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
}

.banner-group {
    font-size: 0px;
}

.photo-sheet-left{
  inline-size: 47%;
  padding-bottom: 30%;
  background-size: 100%;
  margin: 0px;
  display: inline-block;
  vertical-align: middle;
}

.photo-caption-right{
  inline-size: 51%;
  margin: 0px;
  /* padding-bottom: 30%; */
  padding-top: 0%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  /* line-height: 120px; */
}

/* Masked hiragana A */
#masked-a {
    background-size: 100%;
    background-repeat: repeat;
    background-attachment: fixed;
    -webkit-mask-image: url('Resource/Japanese_Hiragana_kyokashotai_A.svg');
    -webkit-mask-position-x: center;
    -webkit-mask-position-y: 30%;
    -webkit-mask-size: 100%;
}

img {
   max-width: 100%;
   width: 90%;
   height: auto;
 }

h1 {
  font-family: "Garamond";
  font-size:3em;
}

h3 {
  font-family: "Garamond";
  font-size: 5em;
}

h3 {
  font-family: "MS Mincho";
  font-size: 5em;
}

h6 {
  font-family: "Garamond";
  font-size: 1em;
}


/* Text box in left column (narrow) */
.textboxleft{
  float: left;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
  width: 20%;
  overflow: auto;
}

/* Text box in right column (wide) */
.textboxright{
  float: left;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
  width: 80%;
}

.textbox{

}

.datetext{
  font-size:70%;
}

/* Feature text box */ /* REFACTOR CHANGE TO .itemfeature */
.gamefeature{
  margin-top: 20px;
  margin-bottom: 20px;
}

#footer {
  /* min-height: 100px; */
  margin: 0 0 30px 0;
  padding: 0 0 0 0;
}

/* override bootstrap */
.container {
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
}

#wrap > .container {
  margin-top: 110px;
  /* margin-left: 0px; */
  /* margin-right: 20px; */
  /* padding-left: 20px;
  padding-right: 20px; */
  padding-bottom: 0px;
  /*margin: 110px 0px 0px;*/
}

#footer > .container {
  margin-top: 50px;
}

.section-spacing{
  height: 20px;
}

.navbar > .container {
  padding-bottom: 10px;
}

/*Navbar colour*/
.navbar{
  background-color: rgba(255,255,255,1);
}

/*Navbar setting alignment*/
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

/*Navbar item left and right indicators*/
.navbar-nav a::before, .navbar-nav a::after{
  opacity:0;
  display: inline-block;
  transition: transform 0.5s, opacity 0.2s;
  content:'\22C5';
}

/*Navbar item left indicator*/
.navbar-nav a::before{
  	transform: translateX(5px);
}

/*Navbar item right indicator*/
.navbar-nav a::after{
    transform: translateX(-5px);
}

/*Indicator appear state*/
.navbar-nav a:hover::before,
.navbar-nav a:hover::after,
.navbar-nav a:focus::before,
.nav a:focus::after,
.navbar .active a::before,
.navbar .active a::after
{
    opacity:1;
    transform:translateX(0px);
}

.navbar-nav a{
    text-decoration: none;
    color: black;
}

.navbar-nav a:hover {
    text-decoration: none;
}

/* Lead block */
#lead {
    top-margin: 0px;
}

.title-link {
   font-weight: 300;
   text-decoration: none;
   color: black;
}

.title-link:hover {
   text-decoration: none;
   color: black;
}

.section-header{
  margin-top: 10px;
  bottom-margin: 0px;
  bottom-padding: 10px;
}

.header-text{

}
